tests/__pycache__/
*.token
*.venv
*venv
*.vs
*DATA/input/cenarios/
SRC/decisao_multicriterio/__pycache__/
pareto.png
DATA/output/input_alternativas.json
DATA/output/MCDA/fluxpot/
*relatorios/temp/
SRC/analista_cenario/__pycache__/
SRC/__pycache__/*
SRC/modelos_matematicos/__pycache__/*
SRC/SistemaMultiAgente/__pycache__/*
DATA/SMA/*
